:root {
  --background: #f2e9e4;
  --text: #22223b;
  --accent: #c9ada7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
  font-family: Trebuchet MS;
}

.recipe-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 25px 0;
}

.magic-buttons {
  margin-bottom: 25px;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
}

.halve-btn,
.double-btn {
  border: 2px solid var(--text);
  margin: 0 10px;
}

.list {
  padding: 25px 25px 30px 25px;
  margin-bottom: 25px;
  background: var(--accent);
  border-radius: 10px;
  border: 1px solid var(--text);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-text,
.add-quant,
.dropdown-units {
  padding: 8px 32px 8px 16px;
  border-radius: 5px;
  border: 2px solid var(--text);
  border-right: 0px;
  border-radius: 5px;
}

.add-text {
  width: 320px;
}

.add-quant {
  width: 160px;
}

.add-btn {
  width: 80px;
  border: 2px solid var(--text);
  border-radius: 5px;
  background: var(--background);
}

.add-ingredient {
  display: flex;
  flex-direction: row;
  background: var(--accent);
}

.ingredient {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border: 2px solid var(--text);
  border-radius: 5px;
}

.checkbox {
  margin-right: 10px;
  margin-left: 10px;
  flex-shrink: 0;
}

.checkbox-label {
  flex-grow: 1;
  margin-right: 10px;
}

.del-icon {
  margin-right: 10px;
}

.icons {
  margin-left: 5px;
  margin-right: 10px;
  display: flex;
  gap: 0.5em;
}
